.home {
    width: 100%;
    background: radial-gradient(circle, rgb(2 0 255) 0%, rgb(109 255 240) 100%);
    display: flex;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 60px;
    min-height: 100vh;
}

.article_card {
    border-radius: 15px;
    background: rgb(255 255 255 / 70%);
    padding: 40px;
    width: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
    color: black;
    text-decoration: none;
}
.article_card a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}
.article_card a:hover {
    text-decoration: underline;
}

.user_name {
    font-size: 14px;
}
.user_name span {
    font-size: 12px;
}

.deleteBtn button {
    padding: 6px 12px;
    border: solid 1px black;
    background: transparent;
}
@media screen and (max-width: 1024px) {
    .article_card {
        padding: clamp(20px,5vw,40px);
        width: 95%;
        margin: 16px auto;
    }
}
.deleteBtn {
    display: flex;
    justify-content: space-between;
}