.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(206, 199, 195);
    position: fixed;
}

nav {
    width: 90%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    gap: 5vw;
    height: 100%;
}

img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    padding-top: 5px;
}

.nav_link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 2px;
}
nav a:first-child {
    border-bottom: none;
    padding-bottom: 0;
}
nav a:hover {
    border-bottom: solid 2px;
    padding-bottom: 0;
}
nav a:first-child:hover {
    border-bottom: none;
}

svg {
    padding-right: 5px;
}

@media screen and (max-width: 768px) {
    span {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    nav {
        width: 100%;
        margin-right: 5%;
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
}
@media screen and (max-width: 420px) {
    nav {
        width: 100%;
        margin-right: 5%;
        grid-template-columns: 3fr 2fr 2fr 4fr;
        gap: 2vw;
    }
}
.inputPost p {
    margin-bottom: 8px;
}

/*  darkmode切り替えのCSS  */
.dark_mode_radio {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark_mode_radio input {
    opacity: 0;
    height: 0;
    width: 0;
}
.theme-switch__label {
    margin-right: 40px;
    transition: background-color 200ms ease-in-out;
    width: 65px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    background-color: slateGray;
    box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
    position: relative;
    display: block;
    cursor: pointer;
}
/* .theme-switch__label::before {
    content: "☼";
    right: 100%;
    margin-right: 4px;
    color: orange;
    position: absolute;
    bottom: 0px;
    font-size: 30px;
} */
.theme-switch__label::after {
    content: "☾";
    left: 100%;
    margin-left: 8px;
    color: lightSlateGray;
    position: absolute;
    bottom: -1px;
    font-size: 30px;
}
.theme-switch__label span {
    position: absolute;
    top: calc(50% + -10px);
    left: 5px;
    z-index: 99;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
    display: block;
}
#modeRatio:checked ~ .theme-switch__label span {
    left: calc(100% - 25px);
}
@media screen and (max-width: 768px) {
    .theme-switch__label {
        width: 45px;
        height: 20px;
    }
    .theme-switch__label::before {
        font-size: 20px;
    }
    .theme-switch__label::after {
        font-size: 20px;
    }
    .theme-switch__label span {
        top: calc(50% + -7px);
        width: 14px;
        height: 14px;
    }
    #modeRatio:checked ~ .theme-switch__label span {
        left: calc(100% - 17px);
    }
}